.elem {
  display: flex;
  gap: 20px;
  height: 35px;
  width: 500px;
  background-color: antiquewhite;
  font-size: 30px;
  color: brown;
  border-radius: 5px;
  padding: 5px;
}

.elem-done {
  background-color: rgba(250, 235, 215, 0);
  color: rgb(210, 200, 200);
}

.wrapper {
  display: flex;
  width: 70px;
  margin-left: auto;
  justify-content: space-between;
}

.delete {
  position: relative;
  color: rgba(5, 4, 3, 0.49);
  font-size: 30px;
}

.delete:hover {
  position: relative;
  bottom: 3px;
  right: 3px;
  color: brown;
  font-size: 40px;
  transition: 0.4s;
}

.done {
  color: rgba(5, 4, 3, 0.49);
}

.done:hover {
  position: relative;
  bottom: 3px;
  left: 3px;
  color: green;
  font-size: 40px;
  transition: 0.4s;
}
